@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    color: var(--text-colour);
    font-family: 'Lato', sans-serif;
}

main {
    width: 100%;
    min-height: 100vh;
    max-width: 430px;
    margin: auto;

    background-color: var(--background-colour);

    overflow: hidden;
    /* Iphone X */
    padding: 0px env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

    @supports(padding: max(0px)) {
        padding-bottom: max(12px, env(safe-area-inset-bottom));
    }
}

button {
    cursor: pointer;
}

html {

    background: #CFCFCF;
}

:root {
    --background-colour: #17161c;
    --background-card-colour: #2d2938;
    --primary-colour: #612df6;
    --quart-colour: #77afba;
    --tertiary-colour: #52d1b7;
    --red-colour: #ff5660;
    --fourth-colour: #eb498a;
    --primary-dark-colour: #4d24c5;

    --nav-colour: #ababab;
    --nav-focus-colour: #52D1B7;

    --text-colour: #ffffff;
    --text-darker-colour: rgba(255, 255, 255, 0.7);

    --margin-slider: 100px;
}
